.border_
    border-style: solid
nav 
    display: flex
    justify-content: space-between
    padding: 0 2vw
    color: green
    margin-top: 0.5rem
    
    div 
        width: fit-content
        
       
    a
        color: #244463
        font-size: 18px
        font-family: Lexend
        font-weight: 600
        word-wrap: break-word
        text-decoration: none
    .a_3
        color: #E7E6E6
        padding: 4px
        border-radius: 6px
        background: #F1C40F
        width: 8.51vw
        height: 24%
        display: flex
        align-items: center
        justify-content: center
        

    .regis_btn
        background: #F1C40F
        width: 9.083vw
        height: 67%
        border-radius: 5px
        border: none
        padding: 0px
        

        a
            display: flex
            color: #E7E6E6
            font-size: 1.375rem
            width: 100%
            height: 100%
            align-items: center
            justify-content: center
            


    
    .img_ 
        display: flex
        width: 100%
        height: 100%
       

    .div__
        display: flex
        align-items: center
        gap: 2.5vw
        

  
