@import './breakpoints.scss';

@mixin disflex
{
    display: flex;
    justify-content: center;
}

.section_03 
{
    background: url('../imgs/bg_notre_charte.png') center center/cover no-repeat;
    height: 100vh;
    display: grid;  
    grid-template-columns: repeat(3,1fr);
    @include lg
    {
        height: fit-content;
    }
    p
    {
        color: #234265;
        font-size: 2.5vw;
        font-family: Lexend;
        font-weight: 700;
        word-wrap: break-word ;
        text-align: center;
        position: absolute;

    }
    .first_col
    {
        position: relative ;
        
        #p1
        {
            left: 0px;
            top: 20%;
            @include md 
            {
                top: 26%;
            }
        }
        #p2
        {
            left: 5vw;
            top: 37%;

            @include md{
                top: 41%;
            }
        }
        
        #p3
        {
            left: 5vw;
            top: 54% ;
            background: url('../imgs/HoverText_notreChorte.png') center center / auto 139% no-repeat;
            background-clip: content-box;

            @include md 
            {
                top: 57%;
            }
        }
    }

    .last_col
    {
        position: relative ;
        
        #p1
        {
            left: 5vw;
            top: 30% ;

            @include md{
                top: 35%;
            }
        }
        #p2
        {
            left: 5vw;
            top: 47%;

            @include md{
                top: 50%;
            }
        }
        
        #p3
        {
            left: 5vw;
            top:  63%;

            @include md{
                top: 66%;
            }
            }
        
    }
    .middel_col
    {
        display: grid;  
        grid-template-rows: auto auto;

        .div_img_n_char
        {
            @include disflex ;
            align-items: end;
            
            min-height: 100%;
            img 
            {
                @include doublexl
                {
                    width: 50%;
                }
                @include xl
                {
                    width: 66%;
                }
                @include lg
                {
                    width: 90%;
                   
                }
            }
        }

        .notre_charte
        {
            @include disflex ; 
            align-items: center; 
            h1 
            {
                color: #073D6A;
                font-size: 3vw;
                font-family: Lexend;
                font-weight: 700;
                word-wrap: break-word;

            }

            img 
            {
                width: 3.5vw;
                height: 7vw;

            }

        }
    }
}