@use './header.sass'
@import 'breakpoints' //$ to use mixin sm,md,lg,xl ... responsvie screen


.section_01
    display: flex
    background: #F1C40F
    min-width: 100vw
    min-height: 79vh
    margin-top: 5vh
    justify-content: center
    align-items: end
    overflow: hidden

    @include md
        margin-top: 1.5vh

    h3
        @include xl
            color: #ffff
    


    .video
        width: 60%
        @include xl
            width: 70%
        @include lg
            width: 80%
        @include md
            width: 100%
        @include sm
            width: 151vw
    div
        width: 20%
    
    

        
        