@import './breakpoints.scss';
@mixin topgrph
{
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

.section_04
{
    height: 160vh;
    display: grid;
    grid-template-rows: auto auto 0fr;
    background-image: url('../imgs/bg_enseignement_.png'), url('../imgs/bg_yellow_raison.png');
    background-repeat: no-repeat, no-repeat; 
    background-position: top left, bottom right;
    background-size: 36vw 60%, 100vw 55%;

    overflow: hidden;

    @include lg
    {
        height: fit-content;
    }


    @include sm 
    {
        background-size: 0 0, 100vw 65%;
    }


    .div_title 
    {
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 3vw;

        h1
        {
            max-width: fit-content;
            color: #F1C40F;
            font-size: 2.8vw;
            @include topgrph;

            @include sm 
            {
                font-size: 8vw;
                margin-left: 8%;
            }

            .Trigli
            {
                background-color:#2C5177;
                padding-right: 27%;
                color: #ffff;

            }
            .Creche
            {
                color: #2C5177;
            }
        }

    }
    .middel_row
        {
            display: flex;
            justify-content: center;

            div 
            {
                display: flex;
                align-items: center;

                @include sm 
                {
                    flex-direction: column;


                }

                img 
                    {
                        width: 32vw ;

                        @include sm 
                        {
                            width: 80%;
                            margin: 5% 0;
                        }
                    }

                    p 
                    {
                        max-width: fit-content;
                        display: inline-block;
                        margin-left: 4vw;
                        color: #2C5177;
                        font-size: 1.4vw;
                        @include topgrph;

                        @include sm 
                        {
                            font-size: 3.2vw;
                        }
                        
                   }

            }
            
        }

        .last_row
        {
            .last_row_div1
            {
                height: fit-content;
                

                .div2_title
                    {
                        
                        display: flex;
                        justify-content: center;
                        align-items: start;
                        h1 
                        {
                            
                            color: #2C5177;
                            font-size: 2.5vw;
                            @include topgrph;
                            margin: 0 1vw;

                            @include sm 
                            {
                                font-size: 8vw;
                            }
                        }
                        img 
                        {
                            width: 3vw;

                            @include sm 
                            {
                                width: 7vw;
                                height: 19vw;
                            }
                        }
                    }

                
            }

            .last_row_div2
            {
                display: flex;
                justify-content: center;
                align-items: end;
                font-family: auto;
                position: relative ;

                @include sm
                {
                    flex-direction: column;
                    align-items: center;
                }
                
                .img_resion 
                {
                   
                    width: 48%;

                    @include sm
                    {
                        width: 100%;
                    }
                }

                div
                {
                    display: inline;
                    height: 16%;
                    width: 20vw;
                    position: absolute;
                    display: flex;
                    align-items: center;

                    @include sm 
                    {
                        position: static;
                        width:fit-content;
                    }
                }
                p
                {
                    display: inline-block;
                    font-size: 1vw;
                    margin: 0 2vw;
                    color: #08406A;

                    @include sm 
                    {
                        font-size: 5vw;
                    }

                }
                .img_raisons
                {
                    height: 5vw;
                    width: 5vw;
                    
                    @include sm 
                    {
                        height: 12vw;
                        width: 12vw;
                    }

                }
                
                .raison1
                {
                    top: 14%;
                    left: 17%;
                    background: url('../imgs/bg_raison1.png') center center/106% 115%no-repeat;

                    @include sm 
                    {
                        top: 15vh;
                        left: -56%;
                    }
                }

                .raison2
                {
                    top: 46%;
                    left: 11%;
                    background: url('../imgs/bg_raison2.png') center center/106% 115%no-repeat;

                    @include sm 
                    {
                        left: -28%;
                    }
                }

                .raison3
                {
                    top: 76%;
                    left: 17%;
                    background: url('../imgs/bg_raison3.png') center center/106% 115% no-repeat;

                    @include sm 
                    {
                        top: 1vh;
                        left: 0%;
                    }
                }
                .raison4
                {
                    top: 14%;
                    left: 61%;
                    background: url('../imgs/bg_raison4.png') center center/106% 115% no-repeat;

                    @include sm 
                    {
                        top: 1vh;
                        left: -55%;
                    }
                }
                .raison5
                {
                    top: 46%;
                    left: 66%;
                    background: url('../imgs/bg_raison5.png') center center/106% 115% no-repeat;

                    @include sm 
                    {
                        top: -6vh;
                        left: 0%;
                    }
                }

                .raison6
                {
                    top:76%;
                    left: 61%;
                    background: url('../imgs/bg_raison6.png') center center/106% 115% no-repeat;

                    @include sm 
                    {
                        top: -6vh;
                        left: -29%;
                    }
                }
            }

            
            
            
        }
}